<launch>
  <param name="/use_sim_time" value="true" />
   <node pkg="rosbag" type="play" name="rosbagplay" args="$(find localization_competition)/test/sdc_localization_1.bag --clock -r 0.1 -d 1" required="false"/>
   <node pkg="localization_competition" type="itri" name="itri_icp" clear_params="true">
    

  </node>
</launch>
